<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Aum SIT725 Week Five</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Aum SIT725 - Applied Software Engineering T3 2024" />
  <meta name="author" content="Aum" />
  <meta name="robots" content="index, follow" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="assets/f/ms-icon-144x144.png" />

  <meta property="og:title" content="Aum SIT725 T3 2024" />
  <meta property="og:description" content="Aum SIT725 - Applied Software Engineering T3 2024" />
  <meta property="og:image" content="path-to-your-image.jpg" />
  <meta property="og:url" content="https://www.deaking.edu.au" />
  <meta property="og:type" content="website" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Materialize CSS CDN -->
    <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
    
</head>
<body>
      <!------Navigation container----->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue">
        <a href="/" class="brand-logo"><img class="user-image-size aum_p_8"
            src="https://images.freeimages.com/image/previews/262/flat-blue-butterfly-nature-png-illustration-5702359.png"
            alt="Attributed to Vexels.com" /></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a target="_self" href="/">About us</a></li>
          <li><a target="_self" href="/">Blog</a></li>
          <li><a target="_self" href="/pizza/booking">Pizza</a></li>        
          <li><a target="_self" href="/">Resources</a></li>
          <li><a target="_blank" href="#">LinkedIn</a></li>
        </ul>
      </div>
    </nav>
  </div>